@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Noto Serif JP', sans-serif;
}

div#quote-box {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: rgba(255,255,255, 0.9);
  border-radius: 1%;
  color: #666;
}

p#text {
  font-size: 25px;
  height: 50%;
  
}

h1#author {
  text-align: right;
  font-size: 20px;
  height: 30%;
  font-weight: normal;
}

div#buttons {
  height: 20%;
}

button {
  padding: 0.6rem 2em;
  font-size: 18px;
  margin: 1rem;
  color: #fff;
  border-radius: 1em;
  text-transform: uppercase;
  background: #16495d;
  border-style: solid;
}

button:hover {
  background: #123c4d;
}

button:focus {
  outline: none;
}

i {
  padding-right: 20px;
}